@page "/"

<div class="container">
    <div class="row row-no-gutters">
        <div class="col-sm-10 ">
            <div class="card shadow-sm border-0">
                <div class="card-header text-center border-0">
                    <h4 class="">Test By Direct Input</h4>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <textarea style="resize:none;border:none;" class="form-control" id="userInput" rows="8" placeholder="Enter your text here..." @bind="userInput"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="ReadableCheck">Check Readability</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div hidden="@IsShow" class="container mt-4">
    <div class="row row-no-gutters">
        <div class="col-sm-10">
            <div class="card shadow-sm border-0 ">
                <div class="card-header text-center border-0">
                    <h5>Test Result</h5>
                </div>
                <div class="card-body">
                    <p> This Text has grade level of <b>@avgGradeLevel</b>. It should be understood on average by <b>@avgAge</b> years olds.</p>
                    <h5>Text Statistics</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>No. of Characters:</td>
                                <td>@characterCount</td>

                            </tr>
                            <tr>
                                <td>No. of Words:</td>
                                <td>@wordCount</td>

                            </tr>
                            <tr>
                                <td>No. of Sentence: </td>
                                <td>@sentenceCount</td>

                            </tr>
                            <tr>
                                <td>No. of Syllable:</td>
                                <td>@syllableCount</td>

                            </tr>
                        </tbody>
                    </table>
                    <h5>Readability Grade Levels</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Test</th>
                                <th scope="col">Score</th>
                                <th scope="col">Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Flesch–Kincaid readability Test:</td>
                                <td>@fkrScore</td>
                                <td>@fkrAge</td>

                            </tr>
                            <tr>
                                <td>Automated Readability Index:</td>
                                <td>@ariScore</td>
                                <td>@ariAge</td>

                            </tr>
                            <tr>
                                <td>Simple Measure of Gobbledygook:</td>
                                <td>@smgScore</td>
                                <td>@smgAge</td>

                            </tr>
                            <tr>
                                <td>Coleman–Liau index:</td>
                                <td>@cliScore</td>
                                <td>@cliAge</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






